.red{
    color: #bb333d;
}
.green{
    color: #a0b464;
}
.beige{
    color: #FCF2D7;
}
.brown{
    color: #635A4E;
}
.offWhite{
    color: #FFFBEF;
}

body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Baloo 2', sans-serif;
    background-color: #FCF2D7;
    color: #635A4E;
}

/* titles for about/benefits/showcase */
h2 {
    color: #bb333d;
    font-family: 'Cormorant Garamond';
    font-size: 46px;
    writing-mode: vertical-rl;
    text-orientation: upright;

}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #a0b464;

}

.left-items{
    display: flex;
    margin: 30px;
}

.right-links{
    margin: 30px;
    display: flex;
    gap: 75px;
}

.main{
    font-size: 54px;
    padding: 100px;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    font-weight: bold;
}
a {
    font-weight: bold;
    color: #FFFBEF;
    text-decoration: none;
}

.about {
    display: flex;
    flex-wrap: wrap;
    max-width: 250px;
}



.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    font-weight: bold;
    color: #FFFBEF;
    background-color: #bb333d;
}