.red{
    color: #bb333d;
}
.green{
    color: #a0b464;
}
.beige{
    color: #FCF2D7;
}
.brown{
    color: #635A4E;
}
.offWhite{
    color: #FFFBEF;
}

body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Baloo 2', sans-serif;
    background-color: #FCF2D7;
    color: #635A4E;
}

/* titles for about/benefits/showcase */
h2 {
    color: #bb333d;
    font-family: 'Cormorant Garamond';
    font-size: 46px;
    writing-mode: vertical-rl;
    text-orientation: upright;

}

/* green header with logo and links */
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #a0b464;

}

.left-items{
    display: flex;
    margin: 30px;
}

.right-links{
    margin: 30px;
    display: flex;
    gap: 75px;
}

/* big quote area (midsection?) */
.main {
    font-size: 54px;
    padding: 100px;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    font-weight: bold;
}

a {
    font-weight: bold;
    color: #FFFBEF;
    text-decoration: none;
}

/* list customization */

li {
    list-style: none;
}

/* before item list */
ul li::before {
    content: "✤ ";
    color: #bb333d;
    width: 1em;

}

/* hover text transition */
.hover-container {
    position: relative;
    width: 200px;
}

.hover-description {
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s ease;
    padding: 0 10px;
}

.hover-text {
    cursor: pointer;
}

.hover-container:hover .hover-description {
    max-height: 500px;
}

/* about and benefits   */
.about-benefits {
    display: flex;
    justify-content: center;
}

.about-div,
.benefits-div {
    display: flex;
    max-width: 500px;
}

.listBenefits {
    display: flex;
    justify-content: center;
    text-align: justify; 
}

.about,
.listBenefits {
    text-align: justify; 
}

/* footer */
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    font-weight: bold;
    color: #FFFBEF;
    background-color: #bb333d;
}