.red{
    color: #bb333d;
}
.green{
    color: #a0b464;
}
.greenText{
    color: #7b9e43;
}
.beige{
    color: #FCF2D7;
}
.brown{
    color: #635A4E;
}
.offWhite{
    color: #FFFBEF;
}

body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Baloo 2', sans-serif;
    background-color: #FCF2D7;
    color: #635A4E;

    /* hides horizontal scroll bar */
    overflow-x: hidden;
    
}

/* titles for about/benefits/showcase */
h2 {
    color: #bb333d;
    font-family: 'Cormorant Garamond';
    font-size: 54px;
    writing-mode: vertical-rl;
    text-orientation: upright;
    filter: drop-shadow(2px 2px 1px #635a4e81);

}

/* green header with logo and links */
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #a0b464;
    padding-bottom: 10px;
    max-height: 130px;

}

.playerdiv {
    position: absolute;
    right: 120px;
}

.logo {
    height: auto;
    width: 90px;
}

.left-items{
    padding: 0;
    display: flex;
    margin: 30px;
    justify-content: space-between;
}

.right-links{
    padding-right: 200px;
    margin: 50px;
    display: flex;
    gap: 60px;
    font-size: 20px;
    justify-content: center;
    filter: drop-shadow(1px 1px 0.5px #635a4e81);

    
}

.lace-trim-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -18px;
    z-index: 2;

}

.dots {
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(0, -51%);
    
    filter: drop-shadow(1px 1px 2px #635a4e3b);
    z-index: -20;
    
}

.dots img {
    width: 117%;
    height: auto;
}

.midsection-lace {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 
    z-index: 1;

    height: auto;
    max-width: 100%;
    margin-top: -120px;
    margin-bottom: 90px;
}


.lace-trim-footer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: -10px;
    z-index: 1;

}


.midsection-lace img {
    max-width: 100%;
    height: auto;

}

.lace-trim-container img,
.lace-trim-footer-container img {
    max-width: 100%;
    height: auto;
    display: block;
    overflow: hidden;
}


/* big quote area (midsection?) */
.main {
    font-size: 54px;
    margin: 100px;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    font-weight: bold;
    max-height: 300px;
}

.quote-in-lace {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: 700;
    
}

.lace-label {
    width: 25%;
    height: auto;
}

.lace-label {
    display: flex;
    align-items: center;
    justify-content: center;
    
    
    filter: drop-shadow(2px 2px 2px #635a4e31);
    z-index: -20;
    

}

.main2 {
    justify-content: center;
    align-items: center;
    display: flex;

    transform: translate(-25%, 25%);
    filter: drop-shadow(1px 1px 1px #635a4e81);
}

.quote {
    display: inline-block;
    text-align: center;
    filter: drop-shadow(1px 1px 1px #635a4e81);
}

.quote {
    display: inline-block;
    width: fit-content;
    padding-right: 5px;
    white-space: nowrap;
    overflow: hidden;
    border-right: 5px solid #635A4E;
    animation: 
        typing 3.8s,
        cursor 0.8s step-end infinite alternate;
}

@keyframes cursor {
    50% { border-color: transparent; } 
}
@keyframes typing {
    from { width: 0%; }
    to { width: 76%; }
}

a {
    font-weight: 600;
    text-decoration: none;
    color: #FFFBEF;

}

/* list customization */

ul {
    list-style-position: outside;
    word-spacing: 5px;
    font-size: 18px;
    list-style: none;
    
}

/* before item list */
ul li::before {
    content: "✤ ";
    color: #bb333d;
    width: 1em;

}

/* hover text transition */
.hover-container {
    position: relative;
    width: 200px;
    overflow: hidden;
}

.hover-description {
    max-height: 0;
    overflow: hidden;
    transition: max-height 1.4s ease;
    text-align: justify; 

    
}

.hover-text {
    font-weight: 500;
    cursor: pointer;
    font-size: 18px;
}

.hover-container:hover .hover-description {
    max-height: 500px;
}

/* about and benefits   */
.about-benefits {

    display: flex;
    justify-content: space-around;
    padding-right: 150px;
    padding-left: 150px;
    gap: 0;
    filter: drop-shadow(1px 1px 0.5px #635a4e81);

}

.about-div {
    margin: auto;
    display: flex;
    max-width: 500px;
    margin-left: 200px;
}
.benefits-div {
    margin-right: 400px;
    display: flex;
    max-width: 1000px;
}

.listBenefits {
    display: flex;
    margin: auto;
    justify-content: center;

}

.about {
    margin: auto;
    text-align: justify; 
    font-size: 18px;
    
}

/* container for matcha */

.showcase {
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px;
    
}

.showcase-div {
    margin-inline-end: auto;
    display: flex;
    gap: 40px;
    align-items: center;

    max-width: 1800px;
    flex-wrap: wrap;
    
}

.matcha-description {
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    filter: drop-shadow(1px 1px 0.5px #635a4e81);

    
    
}
.container {
    display: flex;
    margin: auto;
    align-items: center;
}

.row-2 {
    padding-left: 206px;
    display: flex;
    margin: auto;
    align-items: center;
    gap: 60px;
    max-width: 1800px;

}

.product-name{
    text-align: center;
    width: 100%;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    filter: drop-shadow(1px 1px 1px #635a4e81);
    
}

.matcha {
    /* (offset-x offset-y blur-radius) */
    filter: drop-shadow(2px 2px 3px #635A4E);
}
.attributes {
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border: 2px solid #635A4E;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 200px;
    max-width: 100%;
}

.stats-and-stars {
    display: flex;
}
.stats,
.stars {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.stats p,
.stars p {
    /* adjusts top and bottom margin negatively */
    margin: -1px 0; 
    font-weight: bold;
}



.description-title {
    display: flex;
    font-size: 20px;
    filter: drop-shadow(1px 1px 0.5px #635a4e81);
}

.description {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 400px;
    text-align: justify;
    
}

.buy a {
    color: #635A4E;
    border: 2px solid #635A4E;
    max-width: 100px;
    border-radius: 5px;
    text-align: center;

    padding: 0 10px;
}
/* footer */
.footer{
    display: flex;
    font-weight: 600;
    gap: 1500px;
    justify-content: space-around;
    align-items: center;
    background-color: #bb333d;
    width: 100%;
    color: #FFFBEF;
}

.copyright,
.madewithlove {
    filter: drop-shadow(1px 1px 0.5px #635a4e81);
}
